body {
    font-family: Arial, sans-serif;
    color: black;
}
h1 {
    text-align: center;
    color: darkblue;
    margin: 20px;
    padding: 15px;
}

div {
    margin: 20px;
    padding: 15px;
    box-sizing: border-box;
}

div:nth-child(2) {
    background-color: lightcyan;
}

div:nth-child(3) {
    background-color: lightgreen;
}

div:nth-child(4) {
    background-color: lightpink;
}

h3 {
    color: black;
    margin-top: 0;
    padding-bottom: 10px;
}

p {
    margin: 10px 0;
    line-height: 1.6;
}

blockquote {
    margin: 30px;
    padding: 20px;
    border: 2px solid gray;
    background-color: lightyellow;
    box-shadow: 5px 5px 10px gray;
    font-style: italic;
    line-height: 1.8;
}
