body {
    font-family: Arial, sans-serif;
    color: darkblue;
    line-height: 1.8;
}


h1 {
    font-family: Georgia, serif;
    font-size: 36px;
    color: darkred;
    letter-spacing: 2px;
}

p {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: navy;
    line-height: 2;
    letter-spacing: 1px;
}

mark {
    color: black;
    padding: 2px 5px;
}

strong {
    color: darkred;
    font-weight: bold;
}
em {
    color: navy;
    font-style: italic;
    text-decoration: underline;
}

abbr {
    color: purple;
    text-decoration: underline;
    cursor: help;
}

small {
    color: gray;
    font-size: 14px;
}

hr {
    border: none;
    height: 3px;
    background-color: black;
    margin: 30px 0;
}
